<body class="fill-real-white">
<div id="page" class="landing-container nopad fill-white">
  <header id="header" class="landing-container push-half-bottom clearfix">
    <h1 class="title-huge">
      Make it extremely easy to track where and what your business is spending on.
    </h1>

    <div class="max-full">
      <div class="flushleft-sm space-two-bottom">
        <ul class="feature-list">
          <li><h4>Expense Submission</h4>

            <p>Use the mobile app, the web or a unique email to submit your expenses</p></li>

          <li><h4>Data Organization</h4>

            <p>Scanning, OCR and human anonymous data transcription</p></li>

          <li><h4>Flexible Categories</h4>

            <p>View your data the way you want</p></li>

          <li><h4>Approvals</h4>

            <p>Flows that mirror your claims processes and budgets</p></li>
          <li><h4>Reports</h4>

            <p></p></li>
            <p>Make better decisions based on real-time data</p></li>
        </ul>
      </div>

      <div class="flushright-sm">
        <img src=<%= asset_path('kulu-landing.png') %>>
      </div>

      <div class="clearfix"></div>
    </div>

    <section class="landing-container clearfix push-two-top push-four-bottom">

      <div class="max-half centered center-block clearfix">
        <form class="" action="javascript: void(0);" data-source="home-cta">
          <div class="space-two-bottom">
          <span class="form__field">
            <input id="customer-email" class="landing email-input" type="email" name="email" placeholder="Email Address">
            <input id="customer-phone" class="landing tel-input" type="tel" name="tel" placeholder="Mobile Number (optional)">
            <span class="spinner"></span>
          </span>
          </div>

          <div class="measure-6words div-center">
            <a class="demo-button" target="_blank" onClick="demo_submit()" alt="Request a Demo" title="Request a Demo">Request
              a Demo</a>
          </div>
        </form>

        <div class="clearfix"></div>
      </div>
    </section>


  </header>

  <!--<hr class="space-three-bottom">-->

  <!-- #header -->
  <!--<section id="how-it-works" class="landing-container clearfix push-two-top push-four-bottom">-->
  <!--<header class="centered">-->
  <!--<h2 class="title-extralarge space-three-bottom red">-->
  <!--<a class="pad-one push-one" href="#how-it-works">-->
  <!--How it works-->
  <!--</a>-->
  <!--</h2>-->
  <!--</header>-->
  <!--</section>-->

  <hr class="space-three-bottom">

  <section id="customers" class="landing-container clearfix push-two-top push-four-bottom">
    <header class="centered">
      <h2 class="title-extralarge space-three-bottom red">
        <a class="pad-one push-one" href="#customers">
          People who are using it
        </a>
      </h2>
    </header>

    <div class="customer-content">
      <ul class="customer-list centered clearfix nospace push-line-top push-one-bottom">
        <li class="flushleft full half-sm third-md">
          <a
          class="occupy push-line-top push-one-bottom"
          href="https://www.facebook.com/ChinitaTaqueria">
        <span class="occupy resetcoords">
          <img class="center height-full contain-height" src=<%= asset_path('client_logos/chinita.png') %>>
        </span></a>
        </li>

        <li class="flushleft full half-sm third-md">
          <a
          class="occupy push-line-top push-one-bottom"
          href="http://www.quintype.com/">
        <span class="occupy resetcoords">
          <img class="center height-full contain-height" src=<%= asset_path('client_logos/quintype.png') %>>
        </span></a>
        </li>

        <li class="flushleft full half-sm third-md">
          <a
          class="occupy push-line-top push-one-bottom"
          href="http://nilen.so">
        <span class="occupy resetcoords">
          <img class="center height-full contain-height" src=<%= asset_path('client_logos/nilenso.png') %>>
        </span></a>
        </li>
      </ul>
    </div>
  </section>

  <hr class="space-three-bottom">

  <section id="pricing" class="landing-container clearfix push-two-top push-four-bottom">
    <header class="centered">
      <h2 class="title-extralarge space-three-bottom red">
        <a class="pad-one push-one" href="#pricing">
          Beta pricing
        </a>
      </h2>
    </header>

    <div class="measure-12words center-block clearfix">
      <div class="prose-large lined space-two-bottom">
        <ul class="space-line pad-two-left pad-line-right centered">
          <li class="occupy space-3q">₹1,500 <span class="gap-1q">/</span> mo (25 users)</li>
        </ul>
        <ul class="space-line pad-two-left pad-line-right centered">
          <li class="occupy space-3q">₹3,000 <span class="gap-1q">/</span> mo (50 users)</li>
        </ul><ul class="space-line pad-two-left pad-line-right centered">
          <li class="occupy space-3q">₹10,000 <span class="gap-1q">/</span> mo (> 1k expenses / mo)</li>
        </ul>
      </div>

      <div class="black prose">
        <h3 class="space-half-bottom">
          2 week trial period
        </h3>

        <p>
          Request a demo and use it free for 10 days to evaluate whether Kulu is the right fit for your business, free
          of
          cost.
        </p>
      </div>
    </div>
  </section>

  <hr class="space-three-bottom">

  <footer id="footer" class="push-three-bottom landing-container clearfix">
    <ul class="flushright-sm  calm ">
      <li class="inline-block">
      </li>
      <li class="inline-block">
        <a
        class="occupy pad-one push-half green green-hover"
        href="https://twitter.com/nilenso">
          Twitter
        </a>
      </li>
      <li class="inline-block ngap-half-right">
        <a
        class="occupy pad-one push-half green green-hover"
        href="https://www.facebook.com/nilenso">
          Facebook
        </a>
      </li>
      <li class="inline-block ngap-half-right">
        <a
        class="occupy pad-one push-half green green-hover"
        href="https://instagram.com/nilenso">
          Instagram
        </a>
      </li>
    </ul>

    <p class="flushleft-sm thirtyfive-sm almosthalf-md push-half-top">
      Built and designed in-house by&nbsp;<a class="red calm" href="http://nilen.so/">nilenso</a>
      <br>
        <span class="prose-tiny">
          Since&nbsp;2015.
        </span>
    </p>
  </footer>
</div>
</body>

<%= javascript_tag do %>
  var demo_submit = function() {
    var email = $("#customer-email").val();
    var phone = $("#customer-phone").val();

    var myFirebaseRef = new Firebase("https://kulu-signups.firebaseio.com");
    myFirebaseRef.push({"email": email, "phone": phone});
  };
<% end %>

