<br/>
<br/>
<br/>

<h1 class="page-title">
  Dashboard
</h1>

<div class="content dashboard">
  <form class="date-entry form_field" action=<%= "#{dashboard_invoices_path}" %> method="get">
      <span class="from-date">
        <p class="">From</p>
        <input class="date-input dashboard-report-from-date" name="from" value=<%= "#{@from}" %> placeholder="DD-MM-YYYY" tabindex="0" autofocus>
      </span>

      <span class="to-date">
        <p class="">To</p>
        <input class="date-input dashboard-report-to-date" name="to" value=<%= "#{@to}" %> placeholder="DD-MM-YYYY" tabindex="1">
      </span>

      <span class="search">
        <input class="btn btn-primary" type="submit" value="Update Report" tabindex="2"/>
      </span>
  </form>

  <div class="generic-widget">
    <h3>
      Summary
    </h3>

    <hr class="space-two-bottom">

    <div class="prose-regular space-two-bottom">
      <div class="space-line pad-two-left pad-line-right centered">
        <div class="entry">
          <a href=<%= search_invoices_path(:conflict => false, :from_date => @from, :to_date => @to) %>>
            <%= @reports.total('currency_breakdown') %> expenses incurred
          </a>

          <div class="currency-breakdown">
            <% @reports.currency_breakdown.each do |b| %>
        <span class="currency-breakdown-item">
          <%= amount_with_currency(b['sum'], b['currency']) %>
        </span>
            <% end %>
          </div>
        </div>

        <div class="space-two-bottom">

          <div class="entry">
            <a href=<%= search_invoices_path(:status => 'Extracted', :expense_type => 'Company', :conflict => false,
                                             :from_date => @from, :to_date => @to) %>>
              <%= @reports.total('awaiting_review') %> expense(s) needs reviewing
            </a>

            <div class="currency-breakdown">
              <% @reports.awaiting_review.each do |b| %>
        <span class="currency-breakdown-item">
          <%= amount_with_currency(b['sum'], b['currency']) %>
        </span>
              <% end %>
            </div>
          </div>

          <div class="entry">
            <a href=<%= search_invoices_path(:status => 'Extracted', :expense_type => 'Reimbursement', :conflict => false,
                                             :from_date => @from, :to_date => @to) %>>
              <%= @reports.total('awaiting_approval') %> expense(s) need to be reimbursed
            </a>

            <div class="currency-breakdown">
              <% @reports.awaiting_approval.each do |b| %>
        <span class="currency-breakdown-item">
          <%= amount_with_currency(b['sum'], b['currency']) %>
        </span>
              <% end %>
            </div>
          </div>

          <div class="entry">
            <a href=<%= search_invoices_path(:status => 'Reviewed', :conflict => false,
                                             :from_date => @from, :to_date => @to) %>>
              <%= @reports.total('reviewed') %> have already been reviewed
            </a>

            <div class="currency-breakdown">
              <% @reports.reviewed.each do |b| %>
          <span class="currency-breakdown-item">
          <%= amount_with_currency(b['sum'], b['currency']) %>
        </span>
              <% end %>
            </div>
          </div>

          <div class="space-two-bottom">

            <div class="entry">
              this excludes
              <a href=<%= search_invoices_path(:status => 'Submitted', :conflict => false,
                                               :from_date => @from, :to_date => @to) %>>
                <%= @reports.total('submitted') %> submitted expense(s)
              </a>

              and
              <a href=<%= search_invoices_path(:conflict => false) %>>
                <%= @reports.total('conflicted') %> expense(s)
              </a>
              that are in dispute
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="category-widget">
    <h3>
      Category Breakdown
    </h3>

    <hr class="space-two-bottom">

    <div class="prose-regular space-two-bottom">
      <ul class="space-line pad-two-left pad-line-right centered">
        <% @reports.category_breakdown.each do |k, v| %>
          <li class="occupy space-two-bottom">
            <div class="item-key">
              <%= k %>
            </div>

            <span class="gap-2q"></span>

            <div class="currency-breakdown">
              <% v.each do |b| %>
              <span class="currency-breakdown-item">
                <%= amount_with_currency(b['sum'], b['currency']) %>
              </span>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



<%= javascript_tag do %>
  new Pikaday({
  field: $('.dashboard-report-from-date')[0],
  format: 'YYYY-MM-DD'
  });

  new Pikaday({
  field: $('.dashboard-report-to-date')[0],
  format: 'YYYY-MM-DD'
  });
<% end %>
