<div class="page-wrap">
  <div class="content">
    <%= image_tag 'logo.png', class: 'image-logo' %>

    <div class="panel" id="login">
      <div class="panel-title">
        <h3>Reset your password</h3>
      </div>

      <%= form_tag 'forgot', id: 'forgot-password-form', :method => :post do %>
        <% if @organization_name.present? %>
          <%= hidden_field_tag :organization_name, @organization_name %>
        <% else %>
          <div class="form-group">
            <%= text_field_tag :organization_name, nil, placeholder: 'Company Name', autofocus: true, class: 'form-control' %>
          </div>
        <% end %>

        <div class="form-group">
          <%= text_field_tag :user_email, nil, placeholder: 'User Email', class: 'form-control' %>
        </div>
        <%= submit_tag 'Send confirmation' %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $('.image-logo').fadeIn(1200);
<% end %>
