<div class="page-wrap">
  <div class="content">

    <%= image_tag 'logo.png', class: 'image-logo' %>

    <div class="panel" id="login">
      <div class="panel-title">
        <h3>Login to your team</h3>
      </div>

      <%= form_tag 'signin', id: 'team-signin-form', :method => :post do %>
        <div class="form-group">
          <%= text_field_tag :team_name, nil, placeholder: 'Team Name', autofocus: true, class: 'form-control' %>
        </div>

        <%= submit_tag 'Continue' %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $('.image-logo').show();
<% end %>
